@model PaymentProviderLogic.Models.ConfirmPaymentResponse

<div class="container">
    <div class="row">
        <h3>Transaction ID: @Model.TransactionId</h3>
    </div>
    <div class="row">
        <h3>Status: @Model.Status</h3>
    </div>
    <div class="row">
        <h3>Amount: @Model.Amount</h3>
    </div>
    <div class="row">
        <h3>Curency: @Model.Currency</h3>
    </div>
    <div class="row">
        <h3>Order ID: @Model.OrderId</h3>
    </div>
    <div class="row">
        <h3>Last Four Digits: @Model.LastFourDigits</h3>
    </div>
</div>